* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  -webkit-background-clip: text;
  background-image: linear-gradient(300deg, #c56dbf, #c56d6f);
  color: transparent;
  text-align: center;
  margin: 0 auto 30px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #282c34;
}

.box {
  border-radius: 10px;
  width: auto;
  max-width: 1200px;
  min-height: 200px;
  position: relative;
}
.box div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.box .bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: context-menu;
  z-index: 1;
}
.box .wrap {
  padding: 8%;
  box-sizing: border-box;
  background: linear-gradient(300deg, #c56dbf, #c56d6f);
}

button {
  outline: none;
  box-shadow: none;
  border: none;
  background: linear-gradient(300deg, #d69d46, #f89193);
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear;
}
button:hover {
  opacity: 0.9;
}